<p>on-off works!</p>

<h2>Insert/Remove</h2>

<nav>
 <!--  <button (click)="toggle()">Toggle Insert/Remove</button>-->
</nav>
<!--
<div @myInsertRemoveTrigger *ngIf="isShown" class=".on-off-container">
  <p>The box is inserted</p>
</div>
-----------------------------
<nav>
    <button (click)="toggleAnimations()">Toggle Animations</button>
    <button (click)="toggle()">Toggle Open/Closed</button>
  </nav>
  <div [@.disabled]="isDisabled">
    <div [@childAnimation]="isOpen ? 'open' : 'closed'"
      class="open-close-container">
      <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
    </div>
  </div>
  -->